<div itemprop="author" itemscope itemtype="http://schema.org/Person">
  <h5>about the author</h5>
  <section>
<!--    <p><a href="http://profiles.google.com/thibault.normand?rel=author" itemprop="name" rel="author">Thibault Normand</a> est un dévéloppeur et un bloggeur enthousiaste, curieux de toutes nouvelles technologies liées à la sécurité, l'architecture, et le
      web. <a href="http://bg2bkk.github.io/" rel="me">Plus d'infos...</a>
    </p>
-->
	<p>如果关于本文您有兴趣，我们可以进一步探讨、交流和学习。我的email是 bg2bkk # gmail.com. 欢迎交流</p>
  </section>
</div>
